body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #212121;

}

.nav {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
}

.nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

.nav a:hover {
    text-decoration: underline;
}
/* style.css */

/* Centering the content */
.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* background-color: #f4f4f9; */
}

/* #banner {
    background-color: #b9b24a;
    color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgb(58, 97, 58);
    text-align: center;
    margin-bottom: 20px;
} */

#banner span {
    font-size: 1.5em;
    font-weight: bold;
    color: white;
    
}

#clock {
    font-size: 2.5em;
    font-family: 'Courier New', Courier, monospace;
    color: #333;
    padding: 20px;
    border: 2px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 2px rgb(192, 192, 56);
    background-color: #e4d614;
    text-align: center;
    width: 200px;
    margin-top: 10px;
}

